Repository foliage-ui/foliage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

fix: space before :hover
  babel-plugin.js
Due: eslint --fix, prettier --write

fix(react): applying classes to react node
  react.tsx
Due: eslint --fix, prettier --write

feat: v0.200.0
  package.json
  src/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix: add stylis dist to externals
  babel.config.js
  rollup.config.js
Due: eslint --fix, prettier --write

feat: move to rollup and add proper mjs build
  .gitignore
  babel.config.js
  package.json
  rollup.config.js
  tsconfig.build.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: regen lock
  yarn.lock
Due: none

0.200.1
  package.json
Due: prettier --write --parser json

refactor: bundle stylis into src, cause mjs not resolved rollup error
  package.json
  rollup.config.js
  src/index.ts
  src/stylis/index.d.ts
  src/stylis/package.json
  types/stylis.d.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

docs: add ci process for publishing new releases
  .github/release-drafter.yml
  .github/workflows/publish.yml
  .github/workflows/release-drafter.yml
  README.md
  package.json
Due: prettier --write --parser json

ci: add test on each commit
  .github/workflows/test.yml
Due: none

ci: rename test ci to complain its intention
  .github/workflows/test.yml
Due: none

ci: rename job to complain ci process
  .github/workflows/test.yml
Due: none

ci: test package on node 16
  .github/workflows/test.yml
Due: none

ci: dist accidentally ignored by gitignore
  .github/workflows/publish.yml
  src/stylis/built/stylis.mjs
  src/stylis/built/stylis.mjs.map
  src/stylis/built/umd/package.json
  src/stylis/built/umd/stylis.js
  src/stylis/built/umd/stylis.js.map
  src/stylis/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

ci: remove test-build script run from ci
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

feat: setup tests infrastructure with local babel-plugin
  .babelrc.js
  .gitignore
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
  babel-plugin.test.ts
  babel.config.js
  foliage.ts
  jest.config.ts
  package.json
  react.tsx
  tests/react/.babelrc
  tests/react/render.test.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

test: add much tests for readme examples
  package.json
  react.tsx
  tests/react/render.test.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

Update CNAME
  CNAME
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write --parser json: any of: {*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}
