Repository foliage-ui/foliage: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "{*.json,.huskyrc,.prettierrc,.lintstagedrc,.eslintrc}": [
    "prettier --write --parser json"
  ]
}

0.103.1
  package.json
Due: prettier --write --parser json

feat: update effector and forest
  .eslintignore
  package.json
  yarn.lock
Due: prettier --write --parser json

0.104.0
  package.json
Due: prettier --write --parser json

feat: upgrade typescript to v4
  package.json
  yarn.lock
Due: prettier --write --parser json

0.105.0
  package.json
Due: prettier --write --parser json

feat: upgrade deps, declare Spec as spec()
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

0.106.0
  package.json
Due: prettier --write --parser json

feat: babel plugin to compile css
  ast-explorer.js
  babel-plugin.js
  example.js
  package.json
  src/babel-plugin/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: resolve import declaration
  ast-explorer.js
  example.js
Due: eslint --fix, prettier --write

feat: setup snapshot testing
  .babelrc
  __snapshots__/babel-plugin.test.ts.snap
  ast-explorer.js
  babel-plugin.test.ts
  jest.config.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: upgrade eslint to fix failure
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write --parser json

refactor: rename to be consistent
  ast-explorer.js
  babel-plugin.js
  babel-plugin.test.ts
  old.js
Due: eslint --fix, prettier --write

feat: add support for prefix
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
  babel-plugin.test.ts
Due: eslint --fix, prettier --write

fix: eslint
  babel-plugin.js
  example.js
  old.js
  package.json
  src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: postcss has async api
  babel-plugin.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: support of compilation of css
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
Due: eslint --fix, prettier --write

fix: empty compilation result, when sid is negative
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
Due: eslint --fix, prettier --write

test: add more tests of css
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.test.ts
Due: eslint --fix, prettier --write

chore: change placeholder when interpolation is not supported
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
Due: eslint --fix, prettier --write

style: fix eslint errors
  babel-plugin.js
  example.js
  jest.config.ts
  old.js
Due: eslint --fix, prettier --write

feat: add support for namespace import
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
  babel-plugin.test.ts
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: add support for interpolation without detecting type
  .eslintignore
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
  babel-plugin.test.ts
Due: eslint --fix, prettier --write

feat(babel-plugin): detect interpolations and wrap with assert
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
Due: eslint --fix, prettier --write

fix(babel-plugin): css class must not starts from number
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
Due: eslint --fix, prettier --write

feat(babel-plugin): correctly imports an assertion
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
Due: eslint --fix, prettier --write

feat(babel-plugin): add test for rename when asserts is imported
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.test.ts
Due: eslint --fix, prettier --write

fix(babel-plugin): deep nesting name determining
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
  babel-plugin.test.ts
Due: eslint --fix, prettier --write

feat(babel-plugin): add support for interpolation with namespaces
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
  babel-plugin.test.ts
Due: eslint --fix, prettier --write

test(babel-plugin): combination of namespace and named imports
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.test.ts
Due: eslint --fix, prettier --write

refactor(babel-plugin): improve readability
  babel-plugin.js
Due: eslint --fix, prettier --write

docs: improve readme with concept examples
  README.md
Due: none

test(babelplugin): incorrect renaming imports
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.test.ts
Due: eslint --fix, prettier --write

fix(babel-plugin): local asserts conflicts with imported
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
Due: eslint --fix, prettier --write

chore: remove unused & old files
  babel-plugin.js
  example.js
  old.js
Due: eslint --fix, prettier --write

feat: naive react implementation
  .babelrc
  .babelrc.js
  example/index.html
  example/index.ts
  example/index.tsx
  foliage.ts
  package.json
  react.tsx
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

docs: add dev.to
  README.md
Due: none

feat: upgrade browserslist db
  yarn.lock
Due: none

feat: upgrade deps
  .babelrc.js
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.js
  babel-plugin.test.ts
  example/index.tsx
  package.json
  react.tsx
  src/index.ts
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --write --parser json

fix: compiling template literal with babel preset env
  .babelrc.js
  babel-plugin.js
  example/index.tsx
Due: eslint --fix, prettier --write

test: add test for space before :hover
  __snapshots__/babel-plugin.test.ts.snap
  babel-plugin.test.ts
Due: eslint --fix, prettier --write
